body{
    font-family:monospace;
}

.table{
    border: 0px solid;
    text-align:justify;
}


.wrapper{
    border-top: 04px solid green;   
}

.wrapper a{
    text-decoration: none;
    color: green;
}


